// This file is part of Moodle - http://moodle.org/
//
// Moodle is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// Moodle is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

// 
// Remove styling
// 

body.pagelayout-login {                                                                                                             
    background-image: url([[pix:theme|Street_College_Logo_rgb_shadow_transp]]);                                                                
    background-size: cover;                                                                                                         
}

.userprofile .profile_tree {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
}

.userpicture {
    border-radius: 0;
}

#region-main {
    border: none;
}

.card, 
#page-enrol-users #filterform, 
.que .history, 
.userprofile .profile_tree section, 
.groupinfobox, 
.well {
    border: none;
}


// 
// Colour scheme
// 

body {
    background-color: $color-background;
    color: $color-foreground;
}

.card, 
#page-enrol-users #filterform, 
.que .history, 
.userprofile .profile_tree section, 
.groupinfobox, 
.well {
    background-color: $color-background;
}

#region-main {
    background-color: $color-background;
}

a {
    color: $color-link;
}
a:hover {
    color: $color-link-hover;
}

.navbar {
    background-color: $color-card;
}
.navbar {
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.2);
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
}
.navbar-light .navbar-brand {
    color: $color-link;
}
.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    color: $color-link-hover;
}
.lowlight {
    background-color: $color-lowlight;
    color: $color-link;
}
.lowlight-hover:hover {
    background-color: $color-lowlight-hover;
    color: $color-link-hover;
}

.navbar-light .navbar-nav .nav-link {
    color: $color-lowlight;
}
.navbar-light .navbar-nav .nav-link:hover, 
.navbar-light .navbar-nav .nav-link:focus {
    color: $color-lowlight-hover;
}

// Drawer
[data-region="drawer"] {
    background-color: $color-drawer;
}
.list-group-item {
    background-color: $color-background;
}
.list-group-item-action {
    color: $color-link;
}
.list-group-item-action:hover, .list-group-item-action:focus {
    color: $color-link;
    background-color: $color-lowlight;
}