// This file is part of Moodle - http://moodle.org/
//
// Moodle is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// Moodle is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

// 
// Remove styling
// 

body.pagelayout-login {                                                                                                             
    background-image: url([[pix:theme|Street_College_Logo_rgb_shadow_transp]]);                                                                
    background-size: cover;                                                                                                         
}

.userprofile .profile_tree {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
}

.userpicture {
    border-radius: 0;
}

.card, 
#page-enrol-users #filterform, 
.que .history, 
.userprofile .profile_tree section, 
.groupinfobox, 
.well {
    border: none;
}

.userprofile .profile_tree section {
    padding: 0;
}

.page-context-header .page-header-image,
img.userpicture {
    margin: 0;
}

#page-my-index {
    background-color: $color-background;
}



// 
// Colour scheme
// 

body {
    background-color: $color-background;
    color: $color-foreground;
}

.card, 
#page-enrol-users #filterform, 
.que .history, 
.userprofile .profile_tree section, 
.groupinfobox, 
.well {
    background-color: $color-background;
}

#region-main {
    background-color: $color-background;
}

a {
    color: $color-link;
}
a:hover {
    color: $color-link-hover;
}
// Table body links need different hover colour for better contrast
tbody a:hover {
    color: $color-background;
}

.navbar {
    background-color: $color-card;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.2);
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
}
.navbar-light .navbar-brand {
    color: $color-link;
}
.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    color: $color-link-hover;
}
.lowlight {
    background-color: $color-link;
    color: $color-foreground;
}
.lowlight-hover:hover {
    background-color: $color-lowlight-hover;
    color: $color-foreground;
}

.navbar-light .navbar-nav .nav-link {
    color: $color-lowlight;
}
.navbar-light .navbar-nav .nav-link:hover, 
.navbar-light .navbar-nav .nav-link:focus {
    color: $color-lowlight-hover;
}

// Drawer
[data-region="drawer"] {
    background-color: $color-drawer;
    border-right: 18px dashed $color-ghost;
}
.list-group-item {
    background-color: $color-background;
    border-color: $color-ghost;
}
.list-group-item-action {
    color: $color-link;
}
.list-group-item-action:hover, .list-group-item-action:focus {
    color: $color-link-hover;
    background-color: $color-link;
}
.list-group-item.active {
    color: $color-foreground;
    background-color: $color-ghost;
    border-color: $color-ghost;
}

// Dropdown
.dropdown-menu {
    background-color: $color-form;
    color: $color-foreground;
    border: 1px solid $color-form-focus;
}
.dropdown-item {
    color: $color-foreground;
    &:hover, &:focus {
        color: $color-foreground;
        background-color: $color-form-focus;
    }
}
.dropdown-divider {
    border-top-color: $color-form-focus;
}

// Messages
.alert-warning, 
#page-admin-index .adminwarning, 
.uninstalldeleteconfirmexternal, 
.que .outcome, 
.que .comment {
    color: $color-warning-foreground;
    background-color: $color-warning-background;
    border-color: $color-warning-background;
}
.alert-danger, #page-admin-index .adminerror {
    color: $color-danger-foreground;
    background-color: $color-danger-background;
    border-color: $color-link;
}
.text-danger, .notconnected, .que .validationerror, .text-error {
    color: $color-danger-background !important;
}
.text-info, .highlight {
    color: $color-link !important;
}
@keyframes spring {
    0%, 12%, 24% {
        transform: translateY(-5px);
    }
    6%, 18%, 30% {
        transform: translateY(0);
    }
}
.invalid-feedback {
    font-size: 120%;
    animation: spring 2.4s linear 0.7s normal infinite;
}

// 
// Forms & buttons
// 
.form-control,
.custom-select {
    background-color: $color-form;
    color: $color-foreground;
    &:focus {
        background-color: $color-form-focus;
        color: $color-foreground;
        border-color: $color-form;
        -webkit-box-shadow: 0 0 0 .2rem $color-form;
        box-shadow: 0 0 0 .2rem $color-form;
    }
}
.form-control::placeholder {
    color: $color-background;
}

// Remove box-shadow from navbar search box
nav.navbar .form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
    &:focus {
        border-color: $color-form-focus;
    }
}

// Remove focus outline from search icon
.search-input-wrapper > div:focus {
    outline: none;
}

.btn-primary {
    color: $color-foreground;
    background-color: $color-form;
    border-color: $color-form;
    &:hover {
        color: $color-link;
        background-color: $color-card;
        border-color: $color-card;
    }
}
.btn-secondary, .btn-default {
    color: $color-foreground;
    background-color: $color-form-focus;
    border-color: $color-form-focus;
    &:hover {
        color: $color-link;
        background-color: $color-card;
        border-color: $color-card;
    }
}
.btn-outline-secondary {
    color: $color-link;
    border-color: $color-link;
    &:hover {
        color: $color-link-hover;
        background-color: $color-link;
        border-color: $color-link;
    }
}
.block .block-cards .btn.btn-link.btn-icon:hover, 
.block .block-cards #page-grade-grading-manage .actions .action.btn-link.btn-icon:hover, 
#page-grade-grading-manage .actions .block .block-cards .action.btn-link.btn-icon:hover, 
.block .block-cards #rubric-rubric.gradingform_rubric #rubric-criteria .criterion .addlevel input.btn-link.btn-icon:hover, 
#rubric-rubric.gradingform_rubric #rubric-criteria .criterion .addlevel .block .block-cards input.btn-link.btn-icon:hover, 
.block .block-cards #rubric-rubric.gradingform_rubric .addcriterion.btn-link.btn-icon:hover, 
#rubric-rubric.gradingform_rubric .block .block-cards .addcriterion.btn-link.btn-icon:hover, 
.block .block-cards .btn.btn-link.btn-icon:focus, 
.block .block-cards #page-grade-grading-manage .actions .action.btn-link.btn-icon:focus, 
#page-grade-grading-manage .actions .block .block-cards .action.btn-link.btn-icon:focus, 
.block .block-cards #rubric-rubric.gradingform_rubric #rubric-criteria .criterion .addlevel input.btn-link.btn-icon:focus, 
#rubric-rubric.gradingform_rubric #rubric-criteria .criterion .addlevel .block .block-cards input.btn-link.btn-icon:focus, 
.block .block-cards #rubric-rubric.gradingform_rubric .addcriterion.btn-link.btn-icon:focus, 
#rubric-rubric.gradingform_rubric .block .block-cards .addcriterion.btn-link.btn-icon:focus {
    background-color: $color-ghost;
}

// Courses
.course-content ul li.section.main {
    border-bottom: 1px dashed $color-ghost;
}


// 
// Borders and spacings
// 
#region-main {
    border: 1px dashed $color-ghost;
}



// 
// Page specific settings
// 

// Dashboard
.card-body {
    border: 1px dashed $color-ghost;
}

// myprofile
.userprofile .profile_tree section {
    border: none;
}
