// This file is part of Moodle - http://moodle.org/
//
// Moodle is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// Moodle is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Moodle.  If not, see <http://www.gnu.org/licenses/>.


body.pagelayout-login {                                                                                                             
    background-image: url([[pix:theme|Street_College_Logo_rgb_shadow_transp]]);                                                                
    background-size: cover;                                                                                                         
}

.userprofile .profile_tree {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
}